main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 9999;
}